### Example user template template
### Example user template

# int
.idea
*.iml
out
gen
*.py[cod]
db.sqlite3
migrations/
media/
settings.py

#my
/venv
/models
/.ipynb_checkpoints
/Notebooks/.ipynb_checkpoints
/Notebooks/ML_model_analysis_test.ipynb
test.ipynb
requirements.txt
__pycache__/
/Testing/.pytest_cache
/Testing/anon.session