### Example user template template
### Example user template

# int
.idea
*.iml
out
gen
*.py[cod]
db.sqlite3
migrations/
media/
settings.py

#my
/venv
/models
/.ipynb_checkpoints
/notebooks/.ipynb_checkpoints
/notebooks/ML_model_analysis_test.ipynb
/notebooks/data2.csv
/notebooks/GB_model.pkl
/notebooks/RF_model.pkl
/notebooks/lambda_val.pkl
.env
test.ipynb
requirements.txt
__pycache__/
/telegram_bot/.pytest_cache
/telegram_bot/anon.session
!/telegram_bot/requirements.txt

